
body {
	margin: 0;
	padding: 0;
	background: #E8E8E8 url(images/main-bg.png) repeat;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	color: #6398a2;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
color:blue;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-top: 5px;
	margin-right: 30px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	overflow: hidden;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: center;
	height: 60px;
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #6398a2;
	}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: center;
	padding-left: 30px;
	letter-spacing: -3px;
	text-transform: none;
	font-size: 64px;
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}


/* Nav */

#menu {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	padding: 0px;
	background: #E8E8E8 url(images/main-bg.png) repeat;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;

}

#menu li {
	float: left;
	border-right: 1px solid #E1E1E1;

}

#menu a {
	display: block;
	height: 70px;
	margin: 0px 1px;
	padding: 0px 30px 0px 20px;
	line-height: 70px;
	text-decoration: underline;
	font-size: 19px;
	font-weight: normal;
	color: #6398a2;
}


#menu a:hover {
	background: url(images/MenuBarBackground.png) repeat-x left top;;
}

/* Page */

#page {
	overflow: hidden;
	width: 920px;
	margin: 0px auto;
	padding: 40px 40px;


/* Content */

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}

.post {
	color:#707070;
	padding-bottom: 20px;
	border-bottom: 1px solid #BDBDBD;
}

.post .title {
	padding-bottom: 20px;
	letter-spacing: -1px;
	text-transform: none;
	color: #6398a2;
}

.post .title a {
	border: none;
	color: #000000;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

#about {
	overflow: hidden;
	width: 920px;
	margin: 20px auto 0px auto;
	padding: 40px 40px;
	background: #505050 ;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
}

#about .title {
	padding-bottom: 20px;
	letter-spacing: -1px;
	text-transform: none;
	color: #6398a2;
	background: #505050 ;
}

#two-column {
	padding-top: 30px;
}

#two-column h2 {
	padding-bottom: 20px;
	letter-spacing: -1px;
	text-transform: none;
	font-size: 30px;
	color: #6398a2;
}

#two-column #column1 {
	float: left;
	width: 390px;
}

#two-column #column2 {
	float: right;
	width: 390px;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 5px 0px;
	border-top: 1px solid #EEEEEE;
}

.list-style1 a:hover {
	text-decoration: underline;
}

.list-style1 .first {
	border-top: none;
}
/* Image Slider*/
#banner {
  margin-top: 30px;
  margin-left: 120px;
  border-style: solid;
  border-color: black;
  width: 80%;
}
div {
  display: block;
}
#banner img
{
    width: 100%;
}

/*Footer*/
footer {
	font-size: 20px;
	color: #6398a2;
	padding:30px 20px 50px 20px;


}
footer span {display:block; margin-top:6px;}
footer a {color: #6398a2;}
footer a:hover {color: #16445c;}
.soc-icon {display:block;}
.soc-icon li {display:inline-block; float:right; margin-right:30px;}
.soc-icon li a {display:block;}
.soc-icon li a img {opacity:0.46;}
.soc-icon li a:hover img {opacity:1;}

.grid_soc,.grid_text{
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}


.container_foot {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
